/* The base structure of the new tab original page: */
/* ============================================================ */
body {
    margin-top: 20px;
    background: #1a1a1a;
    /* Dark background color */
    color: #f5f5f5;
    /* Light text color */
}

.card {
    /* margin-bottom: 0.2rem; */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, .25);
    /* Darken the box shadow */
    background-color: #303030;
    /* Dark background color */
    border: 1px solid #424242;
    /* Dark border color */
}

.card-border-primary {
    border-top: 4px solid #2979ff;
}

.card-border-secondary {
    border-top: 4px solid #efefef;
}

.card-border-success {
    border-top: 4px solid #00c853;
}

.card-border-info {
    border-top: 4px solid #3d5afe;
}

.card-border-warning {
    border-top: 4px solid #ff9100;
}

.card-border-danger {
    border-top: 4px solid #ff1744;
}

.card-border-light {
    border-top: 4px solid #f8f9fa;
}

.card-border-dark {
    border-top: 4px solid #6c757d;
}

.card-header {
    border-bottom-width: 1px;
}


.card-title {
    font-weight: 500;
    margin-top: .1rem;
}

.card-subtitle {
    font-weight: 400;
}

.card-table {
    margin-bottom: 0;
}

.card-table tr td:first-child,
.card-table tr th:first-child {
    padding-left: 1.25rem;
}

.card-table tr td:last-child,
.card-table tr th:last-child {
    padding-right: 1.25rem;
}

.card-img-top {
    height: 100%;
}

.card-header:first-child {
    border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #1a1a1a;
    /* Dark background color */
    border-bottom: 1px solid #424242;
    /* Dark border color */
}

.card-self {
    color: #f5f5f5;
    /* Light text color */
    background-color: #424242;
    /* Dark background color */

}
.mini-card-body {
    max-height: 44vh;
    overflow-y: auto;
    /* scrollbar-width: thin; */
    /* scrollbar-color: transparent transparent; */
}

.card-body {
    max-height: 69vh;
    overflow-y: auto;
    /* scrollbar-width: thin; */
    /* scrollbar-color: transparent transparent; */
}

/* .card-body::-webkit-scrollbar {
    width: 0.5em;
}

.card-body::-webkit-scrollbar-track {
    background-color: transparent;
}

.card-body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.card-body::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
} */

/* ============================================================ */


/* The css structure for customized sections of the page: */
/* ============================================================ */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600&display=swap');


.sticky-header {
    position: fixed;
    width: 85vw;

  }

.bottom-non-sticky{
    margin-top: 12vh;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.undo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background-color: #007bff;
    margin: 4px;
}

.undo-button:hover {
    background-color: #016dd9;
}


.buttons_holder {
    /* border: 1px solid white; */
    height: 4vw;
    width: 4vw;
    margin-right: 30px;
    object-fit: contain;

}

.buttons_holder:hover {
    background-color: rgba(67, 67, 67, 0.368);
    border-radius: 11px;
    border: 2px solid rgba(255, 255, 255, 0.08)
}


img {

    object-fit: scale-down;
    max-width: 100%;
    /* Ensure the image doesn't exceed the div's width */
    max-height: 100%;
    /* Ensure the image doesn't exceed the div's height */
}


.headerr {
    padding-top: 5px;
    /* padding-bottom: 30px; */
    padding-left: 25px;

}

.shlok {

    font-size: 16px;
    font-family: 'Martel', serif;
    min-height: 160px;
    border: 1px solid white;
    margin-bottom: 15px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 9px;
    text-align: center;
    padding: 16px;
    padding-top: 30px;
    
        /* Add your content styles here */
        /* white-space: nowrap; */
        /* Prevent text from wrapping */
        /* overflow: hidden; */
        /* Hide the overflowing text */
        /* text-overflow: ellipsis; */
        /* Show "..." when text overflows */
        transition: overflow 0.5s;
        word-wrap: break-word;
        overflow-y: scroll;
        max-height: 30vh;
}


::-webkit-scrollbar {
    width: 15.3px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}



/* ============================================================ */





/* Card Specific CSS (for the card component): */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



.task-nondisp-metadata {
    display: none;
}

.taskid {
    display: none;
}

.card-content-holder {
    border-radius: 6px;
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
    /* margin: 10px; */


}

.card-top-section {
    /* border: 1px solid white; */
    /* padding: 10px;
margin: 10px; */

    display: flex;
    justify-content: space-between;
}

.card-snoozer {
    width: 2%
}

.card-inner-title {
    /* font-family: 'Proxima Nova', sans-serif;  */
    font-family: 'Inter', sans-serif;
    width: 80%;
    padding: 0.9vw;
    padding-top: 0.4vw;
    max-width: 78%;
    max-height: 79px;
    font-size: 16px;
    font-weight: 500;
    overflow-y: auto;
    border-radius: 9px;
    background-color: #14141475;


}



.snoozebut {
    width: 33px;
    height: 33px;
        
    display: inline-block;
    outline: 2px solid rgb(103, 103, 103);
    opacity: 0.9;
    cursor: pointer;
    align-items: center;
    margin-top: -26px;
    margin-left: -18px;
    padding: 4px;
    padding-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #e19924;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    background-image: url(img/snoozeicon.svg);
    background-size: contain; /* Set the image size to contain within the button */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image within the button */
        
}

.snoozebut:hover {
    background-color: #ffa618;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}


.meta-wrapper{
    width: 100%;
}


.top-metadata-holder {
    /* border: 1px solid white; */
    /* padding: 10px;
margin: 10px; */

    /* flex-grow: 1; */
    width: 20%;
    min-width: fit-content;
    /* padding-right: 0.5vw; */
    padding: auto;
    display: flex;
    align-items: center;
    margin-left: 3px;
    /* padding-top: 0.5vw; */
}


.deadline-box {
    font-size: smaller;
    background-color: #1a1a1a;
    /* border: 1px solid white; */
    border-radius: 6px;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;

    /* padding: 10px;
margin: 10px; */

    margin-bottom: 3px;
}

.prio-dur-holder {
    display: flex;
    justify-content: space-between;
}

.priority-box {
    font-size: smaller;
    /* border: 1px solid white; */
    border-radius: 6px;
    text-align: center;
    width: 30%;
    padding-bottom: 2px;
}

.duration-box {
    font-size: smaller;
    /* border: 1px solid white; */
    border-radius: 6px;
    text-align: center;
    width: 58%;
    padding-bottom: 2px;
    background-color: #1a1a1a;

}

.card-actual-body {
    /* border: 1px solid white; */
    /* padding: 10px;
margin: 10px; */

    display: flex;
    justify-content: space-between;
}

.checkbox-div {
    /* border: 1px solid white; */
    /* padding: 10px;
margin: 10px; */

    width: 15%;
    /* margin-right: 0.7vw;
margin-left: 0.7vw; */
    margin-top: 0.75vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.donebut {
    width: 33px;
    height: 33px;
    
    display: inline-block;
    outline: 2px solid rgb(103, 103, 103);
    cursor: pointer;
    align-items: center;
    /* margin-top: -26px;
    margin-left: -18px; */
    /* height: 80px; */
    padding: 4px;
    padding-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #20bd42;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    background-image: url(img/doneicon.svg);
    background-size: contain; /* Set the image size to contain within the button */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image within the button */
    
}

.donebut:hover {
    background-color: #0e7618;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}



.card-desc-nd-metadata {
    /* border: 1px solid white; */
    /* padding: 10px;
margin: 10px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 0.7vw;
margin-right: 2vw; */
    width: 85%;

}



.desc-container {
    max-height: 80px;
    /* Set the initial max height of the container */
    overflow: hidden;
    /* Hide the overflowing content */
    transition: max-height 0.5s;
    /* Add transition to animate height changes */
    display: inline-block;
    /* Ensure the container takes only the content width */
}

.desc-container:hover {
    max-height: none;
    /* Allow the container to expand on hover */
}

.desc-content {
    /* Set the fixed width of the content */
    width: 100%;
    font-size: 16px;
    font-weight: 350;
    min-height: 5px;
    margin-top: 10px;
    border-radius: 7px;
    padding-left: 6px;
    padding-top: 10px;
    /* Add your content styles here */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide the overflowing text */
    text-overflow: ellipsis;
    /* Show "..." when text overflows */
    transition: overflow 0.5s;
    /* max-height: 80px; */
}

.desc-content:hover {
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
    /* max-height: none; */
}


/* ========================================= */

/* Deprecated code */
/* .card-desc{

    margin-top: 10px; 
    max-height: 120px;
    min-height: 30px;
    overflow-y: auto;

    border-radius: 7px;
    padding-left: 6px;
    padding-top: 10px;

    }

    .card-desc:hover{
        border-left: 2px solid  #1a1a1ab1;
        border-bottom: 2px solid  #1a1a1ab1;
    } */
/* ========================================= */




.bottom-metadata {
    /* border: 1px solid white; */
    /* padding: 10px;
margin: 10px; */

    display: flex;

}

.task-type {
    /* border: 1px solid white; */

    font-size: smaller;
    /* border: 1px solid white; */
    border-radius: 6px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    /* padding: 10px;
margin: 10px; */


    margin: 1vw;
    margin-right: 0.4vw;
    margin-left: 0.4vw;


}


.task-start-date {
    /* border: 1px solid white; */
    /* padding: 10px;
    margin: 10px; */
    background-color: #1a1a1a;

    margin: 1vw;
    margin-right: 0.4vw;
    margin-left: 0.4vw;

    font-size: smaller;
    /* border: 1px solid white; */
    border-radius: 6px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.task-category {
    /* border: 1px solid white; */
    /* padding: 10px;
margin: 10px; */

    margin: 1vw;
    margin-right: 0.4vw;
    margin-left: 0.4vw;

    font-size: smaller;
    /* border: 1px solid white; */
    border-radius: 6px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */




/* Classes to assign colors during population */
/* -------------------------------------------------------------- */

.priority-red{
    background-color: #6e3630;
}
.priority-yellow{
    background-color: #89632a;
}
.priority-blue{
    background-color: #28456c;
}
/* == */
.type-fixed{
    background-color: #2b593f;
}
.type-infinite{
    background-color: #89632a;
}
.type-schedule{
    background-color: #492f64;
}
.type-fixedndscheduled{
    background-color: #69314c;
}
/* == */
.category-iitm{
    background-color: #603b2c;
}
.category-apsit{
    background-color: #6e3630;
}
.category-general{
    background-color: #5a5a5a;
}
.category-projects{
    background-color: #492f64;
}
.category-prof-colab{
    background-color: #89632a;
}
.category-maths{
    background-color: #2b593f;
}
/* == */
.priograd-purp{
    border: 3px solid rgb(90, 0, 138);
    background-color: rgba(40, 1, 63, 0.582);
}
.priograd-fire{
    /* STILL NEED TO WORK ON */
    border: 3px solid rgb(167, 0, 0);
    background-color: rgba(83, 15, 15, 0.614);
}
.priograd-red{
    border: 3px solid rgb(167, 0, 0);
    background-color: rgba(83, 15, 15, 0.614);
}
.priograd-orange{
    border: 3px solid #fc6a03;
    background-color: #6e2e00b4;
}
.priograd-yellow{
    border: 3px solid #ffd300;
    background-color: rgba(63, 64, 0, 0.71);
}
.priograd-green{
    border: 3px solid rgb(1, 146, 6);
    background-color: rgba(0, 46, 6, 0.457);
}
.priograd-grey{
    border: 3px solid rgb(94, 88, 88);
    background-color: rgba(20, 20, 20, 0.489);
}
/* == */
.grayscale-container {
    filter: grayscale(90%); /* 100% makes the entire container grayscale */
  }


/* -------------------------------------------------------------- */




/* This class is applied to these classes:  .card-top-section .card-inner-title .top-metadata-holder .card-actual-body .card-desc-nd-metadata .card-desc .bottom-metadata .checkbox-div .buttons_holder */
.tempclass {
    /* border: 1px solid white; */
    /* margin: 5px; */
}




